@model Bookstore.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>Book</h4>
<div class="col-md-4">
    <div>
        <div>
            <form enctype="multipart/form-data" asp-action="Create">
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YearPublished" class="control-label"></label>
                    <input asp-for="YearPublished" class="form-control" />
                    <span asp-validation-for="YearPublished" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NumPages" class="control-label"></label>
                    <input asp-for="NumPages" class="form-control">
                    <span asp-validation-for="NumPages" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Publisher" class="control-label"></label>
                    <input asp-for="Publisher" class="form-control" />
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FrontPagee" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="FrontPagee" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="FrontPagee" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DownloadUrll" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="DownloadUrll" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="DownloadUrll" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label"></label>
                    <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Genres" class="control-label"></label>
                    <select asp-for="Genres" class="form-control" asp-items="ViewBag.Genres"></select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ControllerName")'">Back to List</button>

                </div>
            </form>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    }