@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BOOKSTORE</h1>
    <img src="C:/Users/Sara/Desktop/Bookstore phase 2/wwwroot/images/imageimage/" alt="Bookstore Image" class="animated-image">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
